html {
    --bg-color: white;
    --text-color: black;
  }
  
  html.dark {
    --bg-color: #121212;
    --text-color: #f5f5f5;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }